
@{
    ViewData["Title"] = User.Identity.Name;
}
<a asp-area="" asp-controller="Account" asp-action="Logout">
    <button type="button" value="Sign Up" class="btn btn-secondary">Log Out</button>
</a>